{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-8 entries">
                    <article class="entry entry-single">
                        <div class="entry-img text-center"><img src="{{ media }}/{{ recipe.preview_photo }}" alt=""
                                                                class="img-fluid"></div>
                        <h2 class="entry-title">{{ recipe.title }}</h2>
                        <div class="entry-meta">
                            <ul>
                                <li class="d-flex align-items-center main-color"><i class="bi bi-person"></i> <a
                                        href="{{ recipe.author_link }}">{{ recipe.author_name }}</a></li>
                                <li class="d-flex align-items-center main-color"><i class="bi bi-clock"></i> <a
                                        href="">
                                    <time datetime="2020-01-01">{{ recipe.published }}</time>
                                </a></li>
                                <li class="d-flex align-items-center"><img
                                        src="{% static 'img/icons/Recipe_description/timer.png' %}" height="16" alt=""
                                        class="main-color"><a
                                        href="">{{ recipe.cooking_time }} мин.</a></li>
                            </ul>
                            <br>
                            <ul>
                                <li class="d-flex align-items-center main-color"><img
                                        src="{% static 'img/icons/Recipe_description/level.png' %}" height="16" alt=""
                                        class="main-color"> <a
                                        href="">{{ recipe.complexity }}</a></li>
                                <li class="d-flex align-items-center main-color"><img
                                        src="{% static 'img/icons/Recipe_description/number_of_servings.png' %}"
                                        height="24" alt="" class="main-color"> <a
                                        href="">{{ recipe.number_of_servings }}</a></li>
                                <li class="d-flex align-items-center"><img
                                        src="{% static 'img/icons/Recipe_description/eye.png' %}" height="16" alt=""
                                        class="main-color"><a
                                        href="">{{ recipe.views }}  </a></li>
                            </ul>
                        </div>
                        <div class="entry-content">
                            <blockquote><p style="font-size: 18px;">{{ recipe.quote }}</p></blockquote>
                            <div>
                                <div class="ingredients">

                                    <h4 style="color: #80828E; font-weight: lighter;">
                                        <ul>
                                            {% for ingredient in ingredients %}
                                                <i class="bi bi-check-circle main-color"></i>
                                                <span>{{ ingredient }}</span><br><br>
                                            {% endfor %}
                                        </ul>
                                    </h4>
                                </div>
                                <div class="steps">
                                    {% for step in steps %}
                                        <h3>
                                        <span>
                                            <img src="{% static 'img/icons/Recipe_description/step.png' %}" width="24px"
                                                 alt="">
                                        </span>
                                            Шаг {{ step.num }}
                                        </h3>
                                        <p>
                                            {{ step.step }}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="entry-footer"><i class="bi bi-folder"></i>
                            <ul class="cats">
                                <li><a href="#">{{ type }}</a></li>
                            </ul>
                            <i class="bi bi-tags"></i>
                            <ul class="tags">
                                {% for tag in recipe.tags.all %}
                                    <li><a href="#">{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </article>
                    <div class="blog-author d-flex align-items-center text-center">
                        <div>
                            <a href="{{ recipe.author_link }}">
                                <h4>{{ recipe.author_name }}</h4>
                            </a>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="sidebar"><h3 class="sidebar-title">Search</h3>
                        <div class="sidebar-item search-form">
                            <form action=""><input type="text">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div>
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li><a href="#">General <span>(25)</span></a></li>
                                <li><a href="#">Lifestyle <span>(12)</span></a></li>
                                <li><a href="#">Travel <span>(5)</span></a></li>
                                <li><a href="#">Design <span>(22)</span></a></li>
                                <li><a href="#">Creative <span>(8)</span></a></li>
                                <li><a href="#">Educaion <span>(14)</span></a></li>
                            </ul>
                        </div>

                        <h3 class="sidebar-title">Tags</h3>
                        <div class="sidebar-item tags">
                            <ul>
                                <li><a href="#">App</a></li>
                                <li><a href="#">IT</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Mac</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Office</a></li>
                                <li><a href="#">Creative</a></li>
                                <li><a href="#">Studio</a></li>
                                <li><a href="#">Smart</a></li>
                                <li><a href="#">Tips</a></li>
                                <li><a href="#">Marketing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}